{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <form id="searchbar" method="GET" action="{% url 'search' %}">
        <input type="text" name="query"
               placeholder="Search a client by name or car by license plate...... "
               value="{{ request.GET.query }}">
        <button type="submit">Go</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>Client name</th>
            <th>Client point</th>
            <th>See details</th>
            <th>Cars</th>
        </tr>
        </thead>
        <tbody>
        {% for client in all_clients %}
            <tr>
                <td>{{ client.name }}</td>
                <td>{{ client.points }}</td>
                <td>
                    <button onclick="location.href='{% url 'client-details' client.pk %}'"> Client Details</button>
                </td>
                {% if client.car_set %}
                    <td>
                        {% for car in client.car_set.all %}
                            <button onclick="location.href='{% url 'car-details' client_pk=client.pk pk=car.pk %}'"> {{ car.license_plate }} </button>
                        {% endfor %}
                        <button onclick="location.href='{% url 'car-add' client.pk %}'">Add Car</button>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <span class="current"> 
            Page {{ all_clients.number }} of {{ all_clients.paginator.num_pages }} 
        </span>
        <span> 
        <!-- If there are previous and next client -->
            {% if all_clients.has_previous and all_clients.has_next %}
                <a href="?page={{ all_clients.previous_page_number }}"> 
                    <i>arrow-left</i> 
                </a>
                <a href="?page={{ all_clients.next_page_number }}"> 
                    <i>arrow-right</i> 
                </a>
                <!-- If there are only previous client -->
            {% elif all_clients.has_previous %}
                <a id="likeButton" href="?page={{ all_clients.previous_page_number }}"> Previous </a>
                <!-- If there are only next client -->
            {% elif all_clients.has_next %}
                <a id="likeButton" href="?page={{ all_clients.next_page_number }}"> Next </a>
            {% endif %} 
        </span>
    </div>
{% endblock %}