{% extends 'common/base.html' %}
{% load static %}
{% block content %}
     <h1>Calculate Profit</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Calculate</button>
    </form>
    {% if profit is not None and repairs_list is not None%}
        <table>
        <thead>
        <tr>
            <th>Date</th>
            <th>Client price</th>
            <th>Pure price</th>
            <th>Base profit (Client price - Pure price)</th>
        </tr>
        </thead>
        <tbody>
            {% for item in repairs_list %}        
                <tr>
                    <td>{{ item.date }}</td>
                    <td>{{ item.client_price }}</td>
                    <td>{{ item.pure_price }}</td>
                    <td>{{ item.base_profit }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
        <h2>Base Profit: {{ profit }}</h2>
    {% endif %}

{% endblock %}