<nav>
    <form id="logout-form" method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit"><i> Logout </i></button>
    </form>
    <div><a id="likeButton" href="{% url 'admin-page'%}"> Admin Page </a></div>
    <div><a id="likeButton" href="{% url 'admin:index' %}">Go to Admin Panel </a></div>
    <div><a id="likeButton" href="{% url 'register-worker'%}"> Register Worker </a></div>
    <div><a id="likeButton" href="{% url 'calculate-profit'%}"> Calculate Profit </a></div>
    <div><a id="likeButton" href="{% url 'clientcar-add' %}"> Add New Client And Car </a></div>
</nav>