{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <div id="card">
        <form method="post">
            <div><span class="red-word">{{ client_name }}</span> car details</div>
            {% for field, value in fields %}
                <div>{{ field }}: {{ value }} </div>
            {% endfor %}
            <span><a id="likeButton" href="{% url 'car-edit' client_pk=client_pk pk=car.pk %}"> Edit Car </a></span>
            <span><a id="likeButton" href="{% url 'car-delete' client_pk=client_pk pk=car.pk %}"> Delete Car </a></span>
            <span><a id="likeButton" href="{% url 'repair-details' client_pk=client_pk car_pk=car.pk %}"> Repair Details </a></span>
        </form>
    </div>
{% endblock %}